<h2>Show Post</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @post.title %>
  </li>

  <li>
    <strong>Subject:</strong>
    <%= @post.subject %>
  </li>

  <li>
    <strong>Content:</strong>
    <%= @post.content %>
  </li>

  <li>
    <strong>User:</strong>
    <%= @post.user_id %>
  </li>

</ul>
<span><%= link "Back", to: post_path(@conn, :index) %></span>
