<div class="row">
  <div class="col-md-8">
    <p>Request new password</p>
    <%= form_for @conn, password_path(@conn, :reset), [as: :user], fn f -> %>
    <div class="form-group">
      <%= text_input f, :email, placeholder: "Email", class: "form-control" %>
    </div>

    <%= submit "Reset Password", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
