use Mix.Config

# Configure your database
config :ex_awesome, ExAwesome.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "postgres",
  password: "postgres",
  database: "ex_awesome_dev",
  hostname: "localhost",
  pool_size: 10
